[Desktop Entry]
Name=ROX-Clock
Comment=Simple clock
Comment[pl]=Prosty zegar
Exec=/usr/lib/ROX-apps/Clock/AppRun
Icon=rox-Clock.png
Terminal=false
Type=Application
Categories=Utility;Clock;
Encoding=UTF-8
# vi: encoding=utf-8